body {
    text-align: center
}

#family {
    height: 500px;
}

.image {
    height: 160px;
    width: 190px;
    margin: 20px;
    border-style: solid;
    border-width: thick;
    border-color: deepskyblue;
    padding: 10px;
}

#myCarousel {
    height: 500px;
    width: 100%;
    background-color: dodgerblue;
    margin-top: 20px;
}
.img{
   width: 300px;
    height: 290px;
    margin-left: 540px;
    margin-top: 20px;
    border-style:groove;
    border-width: 10px;
    border-color:darkviolet;
}
